*{
    margin: 0;
    padding: 0;
}

body {
  /* background-image: url(""); */
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
}

#panelAcceso{
    width: 350px; /* comentario */
    margin: auto;
    margin-top: 5%;
}
#mensajes{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 40px;
}
.izquierda{
    text-align: left;
}
.centrado{
    text-align: center;
}
.derecha{
    text-align: right;
}
.row{
    margin-bottom: 3px;
}
tbody tr{
    cursor: pointer;
}
@media (max-width: 700px){
    .id{
        display: none;
    }
}